* {
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 40px;
}

a {
    text-decoration: none;
    color: black;
}